In [2]:
#import libraries
import pandas as pd
from datetime import datetime

In [2]:
#change cwd
import os
os.chdir("C:\\Paresh\\University\\LSE\\Applied Social Data Science\\Capstone Project - MY498\\Datasets\\Subreddits\\New raw")

In [15]:
# clean data by removing NaN values
def clean(filename):
    '''Removes NaN values.'''
    df = pd.read_csv(filename)
    df = df.dropna(how='any')
    df.to_csv('U'+filename)

clean('subreddits12.csv')

In [4]:
# read updated clean files in and get important columns
def readfile(filename):
    df = pd.read_csv(filename, dtype={"author": str, "body": str, "created_utc": int, "score": int, "subreddit": str})
    df = df[['author', 'body', 'created_utc', 'score', 'subreddit']]
    return df

In [5]:
df1 = readfile('Usubreddits1.csv')
df2 = readfile('Usubreddits2.csv')
df3 = readfile('Usubreddits3.csv')
df4 = readfile('Usubreddits4.csv')
df5 = readfile('Usubreddits5.csv')
df6 = readfile('Usubreddits6.csv')
df7 = readfile('Usubreddits7.csv')
df8 = readfile('Usubreddits8.csv')
df9 = readfile('Usubreddits9.csv')
df10 = readfile('Usubreddits10.csv')
df11 = readfile('Usubreddits11.csv')
df12 = readfile('Usubreddits12.csv')

In [6]:
# concatenate into one df
joint_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [7]:
print(joint_df.shape)
joint_df.head()

(11392713, 5)

,author,body,created_utc,score,subreddit
0,GoogleIsYourFrenemy,/r/Explainlikeimscared\r\r\n\r\r\nbut really a...,1451606400,1,findareddit
1,Adderall-,reminds me of steve smith and his friends from...,1451606402,1,RoastMe
2,Teecolz,Days After Rodeo\r\r\n\r\r\n\r\r\nIsaiah Rasha...,1451606405,2,hiphopheads
3,ExquisiteInquisition,"Yeah, I understand that one. I'm close to that...",1451606417,1,depression
4,dubstependerfox,The truth. A lie like that would make me want ...,1451606419,1,AskWomen

In [8]:
# rename columns
joint_df.columns = ['Author', 'Comment', 'Date', 'Score', 'Subreddit']

In [9]:
# change utc to readable datetime
joint_df['Date'] = joint_df['Date'].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [10]:
joint_df.head()

,Author,Comment,Date,Score,Subreddit
0,GoogleIsYourFrenemy,/r/Explainlikeimscared\r\r\n\r\r\nbut really a...,2016-01-01 00:00:00,1,findareddit
1,Adderall-,reminds me of steve smith and his friends from...,2016-01-01 00:00:02,1,RoastMe
2,Teecolz,Days After Rodeo\r\r\n\r\r\n\r\r\nIsaiah Rasha...,2016-01-01 00:00:05,2,hiphopheads
3,ExquisiteInquisition,"Yeah, I understand that one. I'm close to that...",2016-01-01 00:00:17,1,depression
4,dubstependerfox,The truth. A lie like that would make me want ...,2016-01-01 00:00:19,1,AskWomen

In [11]:
#count comments in each subreddit
joint_df.groupby(['Subreddit']).Comment.count().nlargest(34)

Subreddit
politics                2145982
relationships           1313326
Showerthoughts          1183286
worldnews                870998
RoastMe                  791611
news                     741872
AdviceAnimals            711946
AskWomen                 660378
hiphopheads              495652
television               335211
tifu                     331200
legaladvice              325568
BlackPeopleTwitter       257373
TwoXChromosomes          255361
depression               217109
Parenting                136386
sports                   128531
GetMotivated              96745
confession                68581
TalesFromRetail           57148
SuicideWatch              56638
creepyPMs                 50790
malehairadvice            36175
pettyrevenge              25504
findareddit               22447
TrollYChromosome          20681
MadeMeSmile               16444
entertainment             15781
ContagiousLaughter        14299
happy                      7948
WhitePeopleTwitter         1290
randomactsofkindness        239
crime                       124
TrollXChromosome             89
Name: Comment, dtype: int64

## Get all depression and SuicideWatch comments for 2016

In [37]:
# get all depression related comments for 2016
df = joint_df.loc[(joint_df['Subreddit'] == 'depression') | (joint_df['Subreddit'] == 'SuicideWatch')]

In [31]:
print(len(df))
df.tail()

273747

,Author,Comment,Date,Score,Subreddit
1007971,Zeriian,I too am alone for the New Year. Sucks but thi...,2016-12-31 23:56:29,1,depression
1008007,ThrewAwoo1,Wait you served in the army? You've already go...,2016-12-31 23:58:14,16,SuicideWatch
1008038,emchiri,"1: eh, if you're young you have time, there's ...",2016-12-31 23:59:27,3,depression
1008040,stu_25,Basically this.,2016-12-31 23:59:37,3,depression
1008045,stupid_buttons,Life is pointless. Posting is part of life.,2016-12-31 23:59:52,2,depression

In [38]:
# get count of number of words in each comment and create a new column for this variable
count = df['Comment'].str.split().str.len()
count = count.tolist()
df['count'] = count

C:\Paresh\Anaconda1\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [39]:
print(len(df))
df.head()

273747

,Author,Comment,Date,Score,Subreddit,count
3,ExquisiteInquisition,"Yeah, I understand that one. I'm close to that...",2016-01-01 00:00:17,1,depression,10
13,White_Walls,I was depressed for many years. I'm talking ho...,2016-01-01 00:00:50,9,depression,39
25,AnotherAccount233,"Whoa, sounds tough. Glad to know you've gotten...",2016-01-01 00:01:30,2,depression,31
38,AnotherAccount233,Thanks! you're not alone either,2016-01-01 00:02:10,2,depression,5
44,AnotherAccount233,Same^,2016-01-01 00:02:31,2,depression,1

In [40]:
df['count'].describe()

count    273747.000000
mean         68.101170
std          87.165076
min           0.000000
25%          18.000000
50%          41.000000
75%          86.000000
max        1931.000000
Name: count, dtype: float64

In [41]:
# remove words with less than 15 words or greater than 400 words
df = df[df.iloc[:,5]<= 400]
df = df[df.iloc[:,5]>=15]
print(len(df))
df.head()

214997

,Author,Comment,Date,Score,Subreddit,count
13,White_Walls,I was depressed for many years. I'm talking ho...,2016-01-01 00:00:50,9,depression,39
25,AnotherAccount233,"Whoa, sounds tough. Glad to know you've gotten...",2016-01-01 00:01:30,2,depression,31
76,AnotherAccount233,Same here. You're not alone I don't have any f...,2016-01-01 00:04:26,1,depression,20
92,VirginaWolf,I'm 29 and registered for school to complete m...,2016-01-01 00:05:04,1,depression,155
120,VirginaWolf,At clubs I often ditch my friends and just cho...,2016-01-01 00:06:16,1,depression,25

In [43]:
df['count'].describe()

count    214997.000000
mean         76.861240
std          66.390718
min          15.000000
25%          31.000000
50%          54.000000
75%          99.000000
max         400.000000
Name: count, dtype: float64

In [45]:
# take comments with a score greater than 2
#df2 = df[df.iloc[:,3]>= 2]
#print(len(df2))
#df2.head()

105418

,Author,Comment,Date,Score,Subreddit,count
13,White_Walls,I was depressed for many years. I'm talking ho...,2016-01-01 00:00:50,9,depression,39
25,AnotherAccount233,"Whoa, sounds tough. Glad to know you've gotten...",2016-01-01 00:01:30,2,depression,31
124,jrt364,"I'm spending new year's alone too, as I don't ...",2016-01-01 00:06:34,2,depression,26
269,soccermomjanis,I'm so sorry for your loss. I can't imagine ho...,2016-01-01 00:13:34,4,depression,84
303,SilverMars,Friend just cancelled at the last minute. I'm ...,2016-01-01 00:14:57,67,depression,16

In [46]:
df.to_csv("reddit_depression_2016.csv", index = False, encoding = "utf-8")

## Get top 100,000 comments for each subreddit

In [13]:
# all subredddits minus the 'depression' subreddit
subreddits = ['SuicideWatch', \
                       'relationships', 'confession', 'MadeMeSmile', 'happy', 'politics', 'sports', 'TrollYChromosome', \
                       'TrollXChromosome', 'BlackPeopleTwitter', 'malehairadvice', 'findareddit', 'legaladvice',\
                       'AskWomen', 'Parenting', 'television', 'news', 'WhitePeopleTwitter', 'RoastMe',\
                       'AdviceAnimals', 'GetMotivated', 'hiphopheads', 'AskReddit', 'worldnews', 'tifu', 'TwoXChromosomes',\
                       'entertainment', 'creepyPMs', 'ContagiousLaughter', 'Showerthoughts', 'randomactsofkindness',\
                       'TalesFromRetail', 'pettyrevenge', 'crime']

In [14]:
# get top 100,000 comments for depression
reduced_df = joint_df.loc[joint_df['Subreddit'] == 'depression'].sort_values(by='Score', ascending = False)[0:100000]

In [15]:
reduced_df.shape

(100000, 5)

In [16]:
# add the top 100,000 comments for other subreddits or all comments if less than 100,000
for i in subreddits: 
    if len(joint_df.loc[joint_df['Subreddit'] == i]) > 100000:
        reduced_df = reduced_df.append(joint_df.loc[joint_df['Subreddit'] == i].sort_values(by='Score', 
                                                                                            ascending = False)[0:100000])
    else:
        reduced_df = reduced_df.append(joint_df.loc[joint_df['Subreddit'] == i])

In [17]:
reduced_df.groupby(['Subreddit']).Comment.count().nlargest(34)

Subreddit
AdviceAnimals           100000
TwoXChromosomes         100000
tifu                    100000
television              100000
sports                  100000
relationships           100000
politics                100000
news                    100000
legaladvice             100000
hiphopheads             100000
depression              100000
AskWomen                100000
worldnews               100000
Showerthoughts          100000
RoastMe                 100000
BlackPeopleTwitter      100000
Parenting               100000
GetMotivated             96745
confession               68581
TalesFromRetail          57148
SuicideWatch             56638
creepyPMs                50790
malehairadvice           36175
pettyrevenge             25504
findareddit              22447
TrollYChromosome         20681
MadeMeSmile              16444
entertainment            15781
ContagiousLaughter       14299
happy                     7948
WhitePeopleTwitter        1290
randomactsofkindness       239
crime                      124
TrollXChromosome            89
Name: Comment, dtype: int64

In [19]:
# get count of number of words in each comment and create a new column for this variable
count = reduced_df['Comment'].str.split().str.len()
count = count.tolist()
reduced_df['count'] = count

In [21]:
# remove comments with more than 400 words and less than 15 words
df2 = reduced_df[reduced_df.iloc[:,5]<= 400]
df2 = df2[df2.iloc[:,5]>=15]
print(len(df2))
df2.head()

1366823

,Author,Comment,Date,Score,Subreddit,count
138831,Notthepizza,"It's a double dose cocktail of ""fuck you"", I k...",2016-05-05 21:39:39,550,depression,33
244237,Immortal_Azrael,And once you're dead they all sit around askin...,2016-02-08 20:34:46,459,depression,21
843664,DragonflyRider,My wife and son died when a drunk driver hit t...,2016-11-24 06:30:49,373,depression,200
193815,Wolf_Ayama,I really think you need to call the police on ...,2016-06-07 18:54:09,341,depression,53
809347,Godecapitator,That. Is. So. Fucked. Up. What a psycho. I'd r...,2016-01-28 05:23:36,334,depression,59

In [22]:
df2.groupby(['Subreddit']).Comment.count().nlargest(34)

Subreddit
relationships           91447
Parenting               89402
legaladvice             85822
TwoXChromosomes         81881
AskWomen                79285
depression              79233
politics                70040
news                    68812
worldnews               63833
television              57933
AdviceAnimals           57558
tifu                    55129
Showerthoughts          51494
hiphopheads             51017
confession              46857
GetMotivated            45556
SuicideWatch            44690
TalesFromRetail         40726
sports                  39874
RoastMe                 35567
BlackPeopleTwitter      33595
creepyPMs               26104
malehairadvice          20970
pettyrevenge            13948
TrollYChromosome         9928
entertainment            6731
findareddit              6630
MadeMeSmile              4856
ContagiousLaughter       4407
happy                    2987
WhitePeopleTwitter        274
randomactsofkindness      114
crime                      71
TrollXChromosome           52
Name: Comment, dtype: int64

In [30]:
# remove comments with a score of less than 2
df3 = df2[df2.iloc[:,3]>= 2]
print(len(df3))
df3.head()

1251560

,Author,Comment,Date,Score,Subreddit,count
138831,Notthepizza,"It's a double dose cocktail of ""fuck you"", I k...",2016-05-05 21:39:39,550,depression,33
244237,Immortal_Azrael,And once you're dead they all sit around askin...,2016-02-08 20:34:46,459,depression,21
843664,DragonflyRider,My wife and son died when a drunk driver hit t...,2016-11-24 06:30:49,373,depression,200
193815,Wolf_Ayama,I really think you need to call the police on ...,2016-06-07 18:54:09,341,depression,53
809347,Godecapitator,That. Is. So. Fucked. Up. What a psycho. I'd r...,2016-01-28 05:23:36,334,depression,59

In [31]:
df3.groupby(['Subreddit']).Comment.count().nlargest(34)

Subreddit
relationships           91447
Parenting               88782
legaladvice             85822
TwoXChromosomes         81881
AskWomen                79285
depression              79233
politics                70040
news                    68812
worldnews               63833
television              57933
AdviceAnimals           57558
tifu                    55129
Showerthoughts          51494
hiphopheads             51017
RoastMe                 35567
TalesFromRetail         35367
BlackPeopleTwitter      33595
confession              30508
sports                  24765
creepyPMs               23971
GetMotivated            20457
SuicideWatch            17937
pettyrevenge            11709
malehairadvice          10365
TrollYChromosome         8135
entertainment            3920
MadeMeSmile              3527
findareddit              3506
ContagiousLaughter       3329
happy                    2300
WhitePeopleTwitter        217
randomactsofkindness       76
TrollXChromosome           24
crime                      19
Name: Comment, dtype: int64

In [34]:
print('Total number of comments: ' + str(len(df3)))

Total number of comments: 1251560

In [33]:
len(df3.groupby('Author').nunique())

386740

In [35]:
df3.to_csv("reddit.csv", index = False, encoding = "utf-8")